#content {
}

.statustxt {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.jdigi-output {
  background-color: yellow;
}

.jdigi-input {
   background-color: red;
}

.console-area {

}
