<!DOCTYPE html>
<html>
<head>

<link href="bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="angular.min.js"></script>
<script src="ui-bootstrap-tpls-0.11.0.min.js"></script>

<script src="jdigi.js"></script>

<style>

.jdigi-output {
    width: 100%;
}

h3 a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: small;
};

</style>

</head>



<body>

<h3>Jdigi  <a href="http://github.com/ishmal/jdigi">http://github.com/ishmal/jdigi</a></h3>


<div id='content' ng-app='JdigiApp' ng-controller='MainController'>
    <jdigi-tuner></jdigi-tuner>
    <!--
    <p>
	<button type="button" class="btn btn-primary" ng-model="running"
			btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
			{{ running ? "[X]" : "[>]" }}
	</button>
	</p>
    -->
	<tabset>
	    <tab ng-repeat="mode in modes" heading="{{mode.properties.name}}" select="changeMode(mode)">
			<span ng-repeat="control in mode.properties.controls" ng-switch="control.type">
				<span ng-switch-when="boolean">
					<button type="button" class="btn btn-primary" ng-model="control.value"
						btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
						{{control.name}}
					</button>
				</span>
				<span ng-switch-when="choice">
				    {{control.name}}
					<span class="btn-group">
						 <button class="btn btn-primary" ng-repeat="value in control.values"
						     ng-model="control.value" btn-radio="value.name">{{value.name}}</button>
					</span>
				</span>
			</span>
		</tab>
	</tabset>
	<jdigi-output></jdigi-output>
</div>


<br />

<p>
NOTE: You can select the audio input source on Firefox when it asks permission. You can <b>also</b> select
the input source on Chrome by going to chrome://settings/content .
</p>






</body>
</html>
